$bg-color: rgb(250, 250, 250);
$primary-black: hsl(0, 0%, 0%);
$secondary-black: rgb(8, 8, 11);
$primary-grey: rgb(227, 227, 231);
$secondary-grey: rgb(102, 102, 111);
$primary-blue: rgb(97, 102, 220);
$secondary-blue: rgb(82, 86, 172);
$primary-pink: rgb(177, 27, 90);
$primary-white: rgb(255, 255, 255);
$bg-color-fade: rgba(250, 250, 250, 0.533);
$lite-gray: rgb(197, 197, 197);
