//for logo

@font-face {
  font-family: 'Hide-TideRegular';
  src: url('../assets/fonts/Hide-TideRegular/High-TideRegular.eot');
   src: url('../assets/fonts/Hide-TideRegular/High-TideRegular.eot?iefix') format('eot'),
   url('../assets/fonts/Hide-TideRegular/High-TideRegular.woff') format('woff'),
   url('../assets/fonts/Hide-TideRegular/High-TideRegular.ttf') format('truetype'),
   url('../assets/fonts/Hide-TideRegular/High-TideRegular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}


 //for subtitles

 @font-face {
   font-family: 'Oswald-Regular';
   src: url('../assets/fonts/Oswald-Regular/Oswald-Regular.eot');
   src: url('../assets/fonts/Oswald-Regular/Oswald-Regular.eot?iefix') format('eot'),
   url('../assets/fonts/Oswald-Regular/Oswald-Regular.woff') format('woff'),
   url('../assets/fonts/Oswald-Regular/Oswald-Regular.ttf') format('truetype'),
   url('../assets/fonts/Oswald-Regular/Oswald-Regular.svg#webfont') format('svg');
   font-weight: normal;
   font-style: normal;
 }

//for titles

 @font-face {
   font-family: 'Oswald-SemiBold';
   src: url('../assets/fonts/Oswald-SemiBold/Oswald-SemiBold.eot');
   src: url('../assets/fonts/Oswald-SemiBold/Oswald-SemiBold.eot?iefix') format('eot'),
   url('../assets/fonts/Oswald-SemiBold/Oswald-SemiBold.woff') format('woff'),
   url('../assets/fonts/Oswald-SemiBold/Oswald-SemiBold.ttf') format('truetype'),
   url('../assets/fonts/Oswald-SemiBold/Oswald-SemiBold.svg#webfont') format('svg');
   font-weight: normal;
   font-style: normal;
 }

//for text

 @font-face {
   font-family: 'Roboto-Light';
   src: url('../assets/fonts/Roboto-Light/Roboto-Light.eot');
   src: url('../assets/fonts/Roboto-Light/Roboto-Light.eot?iefix') format('eot'),
   url('../assets/fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
   url('../assets/fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
   url('../assets/fonts/Roboto-Light/Roboto-Light.svg#webfont') format('svg');
   font-weight: normal;
   font-style: normal;
 }
