@import '../src/styles/base/base.scss';
@import '../src//styles//layout/header.scss';
@import '../src/styles/layout/footer.scss';
@import '../src/styles/components/btnLevel.scss';
@import '../src/styles/components/editors.scss';


@font-face {
  font-family: 'Hide-TideRegular';
  src: url('./assets/inline/Hide-TideRegular/High-TideRegular.eot');
   src: url('./assets/inline/Hide-TideRegular/High-TideRegular.eot?iefix') format('eot'),
   url('./assets/inline/Hide-TideRegular/High-TideRegular.woff') format('woff'),
   url('./assets/inline/Hide-TideRegular/High-TideRegular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/inline/Roboto-Light/Roboto-Light.eot');
  src: url('./assets/inline/Roboto-Light/Roboto-Light.eot?iefix') format('eot'),
  url('./assets/inline/Roboto-Light/Roboto-Light.woff') format('woff'),
  url('./assets/inline/Roboto-Light/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh -150px);
}

content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-right: 20px;
  z-index: 1;
}

/*  LevelBlock   */
.content_level-block {
  display: inline-block;
  width: 25%;
  min-width: 350px;
  height: 100%;
  max-height: calc(100vh - 150px);
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  background-color: $primary-grey;
  color: $secondary-black;
  box-shadow:  -20px 0 20px -20px $secondary-grey inset;
}

/*  editors  */
.content_editor-block{
  display: inline-block;
  width: 25%;
  min-width: 350px;
  height: 100%;
  max-height: calc(100vh - 150px);
  padding-top: 30px;
  border-left: 30px solid $primary-grey;
  border-right: 30px solid $primary-grey;
  background-color: $primary-grey;
}

