$bg-color: rgb(250, 250, 250);
$primary-black: rgb(0, 0, 0);
$secondary-black: rgb(8, 8, 11);
$primary-grey: rgb(227, 227, 231);
$secondary-grey: rgb(102, 102, 111);
$lite-gray: rgb(197, 197, 197);
$secondary-blue: rgb(82, 86, 172);
$primary-pink: rgb(177, 27, 90);
$secondary-pink: rgb(196, 57, 115);
$primary-white: rgb(255, 255, 255);

$bg-color-fade: rgba(250, 250, 250, 0.533);
$secondary-blue-fade: rgba(82, 87, 172, 0.533);
$primary-pink-fade: rgba(177, 27, 90, 0.133);
$secondary-grey-fade: rgba(102, 102, 111, 0.833);




