@import '../theme/colors.scss';

footer {
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: 150px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: $secondary-blue;
  color: $primary-white;
  img {
    height: 55px;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: 600px) {
      height: 40px;
    }
  }
  img:hover {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: 600px) {
      height: 45px;
    }
  }
}

.footer-content {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;

  &_logo {
    font-size: 40px;
    font-family: Hide-TideRegular;
    font-weight: bold;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  &_copyright {
    padding-top: 7px;
    font-size: 18px;
  }

  &_about {
    font-size: 18px;
  }
}

.footer-content > div {
   width: 420px;
}

a:link,
a:visited,
a:active {
  color: $primary-white;
}

a:hover {
  color: $lite-gray;
  cursor: pointer;
}

@media (max-width: 500px) {
  p {
    font-size: 20px;
   }

}
